name: Update Power BI News
on:
  schedule:
    # This runs every day at midnight (UTC)
    - cron: '0 0 * * *'
  workflow_dispatch: # Allows you to run it manually

jobs:
  update-readme-with-blog:
    name: Update latest blogs
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Pull Power BI Blog
        uses: gautamkrishnar/blog-post-workflow@v1
        with:
          # Official Microsoft Power BI Blog Feed
          feed_list: "https://powerbi.microsoft.com/en-us/blog/feed/"
          max_post_count: 50
