name: Update Power BI News
on:
  schedule:
    - cron: '0 0 * * *' # Runs daily
  workflow_dispatch: # Allows manual "Run Workflow" button

jobs:
  update-readme-with-blog:
    name: Update latest blogs
    runs-on: ubuntu-latest
    permissions:
      contents: write # Explicitly grants permission to edit files
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Pull Power BI Blog
        uses: gautamkrishnar/blog-post-workflow@v1
        with:
          feed_list: "https://powerbi.microsoft.com/en-us/blog/feed/"
          max_post_count: 10
          # This ensures it looks for the tags below
          template: "$newline- [$title]($url)" 
